# Compiled objects #
bin/*.dll
bin/*.exe
bin/*.exp
bin/*.ilk
bin/*.iobj
bin/*.ipdb
bin/*.lib
bin/*.pdb
obj/

# Project files #
.vs/

# Settings #
/bin/data/colorSettings.xml
bin/data/particleSettings.xml